body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 50px;
}
p{
    color: dimgray;
}
.text-highlight{
    color: #ec4c7a;
    font-weight: 700;
}
.hulf-width{
    width: 40%;
    float: left;
    margin-top: 20px;
    margin-left: 80px;
    padding-left: 2px;
}
.hulf-width img{
    width: 100%;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #ec4c7a, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
}
section{
    height: 600px;
    padding-bottom: 80px;
}
.biography-bg{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
}
.latest-work{
    text-align: center;
}
.work{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
}
.center{
    text-align: center;
}
.box-model{
    background-image: linear-gradient(45deg,#ed4b6b,#ec5191);
    color: white;
    width: 500px;
    height: 150px;text-align: center;
    margin-left: 31%;
    border-radius: 10px;
    margin-top: 20px;
}
.all-work{
    background-image: url(images/latest-work-bg.png);
}
#worked{
    height: 500px;
}
.img{
    height: 250px;
    text-align: center;
    margin: 10px;
    
}
.footer-img{
    background-image: url(images/footer-bg.png);
}
footer p{
    text-align: center;
    font-size: 15px;
    margin: 50px;
}